extends base
include mixins/video

block content
    div.profileContents
        div.userInfo
            if loggedInUser.avatarUrl
                img(src=loggedInUser.avatarUrl)
            else 
                span 🤤
            div.userDesc
                div Username: #{user.username}
                div Name: #{user.name} 
                div Email: #{user.email}
        div.videoGrid
            each video in user.videos
                +video(video)
            else
                span no video
        div.editLink
            a(href=`${user.id}/edit`) Edit Profile &rarr;
        