extends base
include mixins/video.pug
block content
    div.empty
    div.contentBox
        div.watchVideo(data-videoId=video.id)
            video(src="/" + video.path, )
            div.controls
                i(class="fas fa-play" id="playBtn")
                i(class="fas fa-volume-up" id="muteBtn")
                input.soundBar(type="range" step="0.1", max=1, min=0, value=0.7)
                span#currentTime 00:00 
                input#videoPlayBar(type="range" step="0.01", value=0, max="",)
                span#totalTime  00:00
                i(class="fas fa-expand" id="fullScreenBtn")
        div.videoInfoAndMoreVideo       
            div.infoAndCommentsBox
                div.infoBox
                    div.titleAndHashtagBox
                        div.hashtag=video.hashtag
                        div.title=video.title
                    div.createdAtAndBtnsBox
                        div.viewsAndDateBox
                            span.views #{video.views} views | 
                            span.createdAt #{video.createdAt}
                        div.WatchBtnBox
                            a
                                <i class="far fa-thumbs-up"></i>
                                span 0
                            a
                                <i class="far fa-thumbs-down"></i>
                                span Dislike
                            a
                                <i class="far fa-share-square"></i>
                                span Share
                            a
                                <i class="far fa-save"></i>
                                span Save
                div.uploaderInformationBox
                    div.uploaderInfoBox
                        img.uploaderImg(src=video.owner.avatarUrl)
                        div.uploaderName #{video.owner.username}
                            
                    if loggedInUser._id === video.owner.id
                        div.editAndDelteBtnBox
                            a(href=`${video.id}/edit`)
                                <i class="far fa-edit"></i>
                                span Edit
                            a(href=`${video.id}/delete`) 
                                <i class="far fa-trash-alt"></i>
                                span Delete
                    
                div.videoDescriptionBox
                        div.description #{video.description}            
                div.commentBox
                    h1 comments
            div.videogrid.watch
                each video in videos
                    +video(video) 
                else
                    span Nothing found

                
block script 
    script(src="/assets/js/video.js") 