extends base
include mixins/video.pug
block content
    div.empty
    div.contentBox
        div.watchVideo(data-videoId=video.id)
            video(src="/" + video.fileUrl, )
            div.controls
                i(class="fas fa-play" id="playBtn")
                i(class="fas fa-volume-up" id="muteBtn")
                input.soundBar(type="range" step="0.1", max=1, min=0, value=0.7)
                span#currentTime 00:00 
                input#videoPlayBar(type="range" step="0.01", value=0, max="",)
                span#totalTime  00:00
                i(class="fas fa-expand" id="fullScreenBtn")
        div.videoInfoAndMoreVideo       
            div.infoAndCommentsBox
                div.infoBox
                    div.titleAndHashtagBox
                        div.hashtag=video.hashtag
                        div.title=video.title
                    div.createdAtAndBtnsBox
                        div.viewsAndDateBox
                            span.views #{video.views} views | 
                            span.createdAt #{video.createdAt}
                        div.WatchBtnBox
                            a#likeBtn
                                <i class="far fa-thumbs-up"></i>
                                span #{video.likes}
                            a#dislikeBtn
                                <i class="far fa-thumbs-down"></i>
                                span #{video.dislikes}
                            a#shareBtn(data-clipboard-text=fullURL)
                                <i class="far fa-share-square"></i>
                                span Copy Link
                            a#downloadBtn
                                <i class="far fa-save"></i>
                                span Save
                div.uploaderInformationBox
                    div.uploaderInfoBox
                        img.uploaderImg(src=video.owner.avatarUrl)
                        div.uploaderName #{video.owner.username}
                    if loggedInUser
                        if loggedInUser._id === video.owner.id 
                            div.editAndDelteBtnBox
                                a(href=`${video.id}/edit`)
                                    <i class="far fa-edit"></i>
                                    span Edit
                                a(href=`${video.id}/delete`) 
                                    <i class="far fa-trash-alt"></i>
                                    span Delete
                    
                div.videoDescriptionBox
                        div.description #{video.description}            
                
                div.commentBox
                    if !loggedInUser
                        div.loggedInMessage
                            a(href="/login")
                                div Login to write comment. Do you want to login? Click here!
                                

                    if loggedInUser
                        div.addComments
                            form#videoCommentForm
                                textarea(placeholder="Please write any comments")
                                div.commentBtn
                                    input(type="submit", value="Submit")                        
                    if loggedInUser
                        div.fakeComentBox(data-loggedInUserAvatar=loggedInUser.avatarUrl,data-username=loggedInUser.name)
                    each comment in video.comments.reverse()
                        div.showComments(id=comment.id)
                            div.commentImgBox
                                img(src=comment.img)
                            div.commentContents
                                div.commentNameAndCreatedAt
                                    span.commentUser=comment.username
                                    span.commentCreatedAt=comment.createdAt
                                div.commentText=comment.text
                                div.btnBox
                                    a.commentLike
                                        i(class="far fa-thumbs-up", id=comment.id)
                                        span #{comment.likes}
                                    a.commentDislike
                                        i(class="far fa-thumbs-down" id=comment.id)
                                        span #{comment.dislikes}
                                    if loggedInUser
                                        if loggedInUser._id === comment.userId
                                            a.deleteComment
                                                i(class="far fa-trash-alt", id=comment.id)
                                                span Delete
                                    
                                        

            div.videogrid.watch
                each video in videos
                    +video(video) 
                else
                    span Nothing found

                
block script
    <script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
    script(src="/assets/js/video.js")
    if loggedInUser
        script(src="/assets/js/comment.js") 
