extends base

block content
    div
        div.watchVideo
            video(src="/" + video.path, )
            div.controls
                button.playBtn Play
                button.muteBtn mute
                input.soundBar(type="range" step="0.1", max=1, min=0, value=0.7)
                span#currentTime 00:00
                span  / 
                span#totalTime  00:00 
                button.fullScreenBtn Full Screen
        div.info
            div.hashtag=video.hashtag
            div.title=video.title
            
            div.uploader
                img(src=video.owner.avatarUrl)
                div.moreinfo
                    div.owner #{video.owner.username}
                    div.descr=video.description
        div.link
            a(href=`${video.id}/edit`) Edit Now &rarr;
            a(href=`${video.id}/delete`) Delete &rarr;
block script 
    script(src="/assets/js/video.js") 