extends base

block content
    video(src="/" + video.path, controls)
    h2=video.title
    h3=video.description
    h3=video.hashtag
    h3 Uploaded by #{video.owner.username}
    hr
    a(href=`${video.id}/edit`) Edit Now &rarr;
    br
    a(href=`${video.id}/delete`) Delete &rarr;
