extends base

block content
    div
        div.watchVideo
            video(src="/" + video.path, controls)
        div.info
            div.hashtag=video.hashtag
            div.title=video.title
            
            div.uploader
                img(src=video.owner.avatarUrl)
                div.moreinfo
                    div.owner #{video.owner.username}
                    div.descr=video.description
        
        div.link
            a(href=`${video.id}/edit`) Edit Now &rarr;
            a(href=`${video.id}/delete`) Delete &rarr;
